include:
  - project: "papers/papers-internal/internal"
    file: "/.base-gitlab-ci.yml"

variables:
  KUSAMA: kusama
  ROCOCO: rococo
  MAINNET: mainnet
  KUSAMA_TAG: eu.gcr.io/papers-kubernetes/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME-kusama:$CI_COMMIT_SHA
  KUSAMA_TAG_LATEST: eu.gcr.io/papers-kubernetes/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME-kusama:latest
  KUSAMA_TAG_DEV: eu.gcr.io/papers-dev-kubernetes/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME-kusama:$CI_COMMIT_SHA
  KUSAMA_TAG_LATEST_DEV: eu.gcr.io/papers-dev-kubernetes/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME-kusama:latest
  MAINNET_TAG: eu.gcr.io/papers-kubernetes/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME-mainnet:$CI_COMMIT_SHA
  MAINNET_TAG_LATEST: eu.gcr.io/papers-kubernetes/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME-mainnet:latest
  MAINNET_TAG_DEV: eu.gcr.io/papers-dev-kubernetes/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME-mainnet:$CI_COMMIT_SHA
  MAINNET_TAG_LATEST_DEV: eu.gcr.io/papers-dev-kubernetes/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME-mainnet:latest
  DOCKERHUB_CANARY_BASE: acurast/node-canary
  DOCKERHUB_CANARY_TAG: $DOCKERHUB_CANARY_BASE:$CI_COMMIT_SHA
  DOCKERHUB_CANARY_TAG_LATEST: $DOCKERHUB_CANARY_BASE:latest
  DOCKERHUB_MAINNET_BASE: acurast/node-mainnet
  DOCKERHUB_MAINNET_TAG: $DOCKERHUB_MAINNET_BASE:$CI_COMMIT_SHA
  DOCKERHUB_MAINNET_TAG_LATEST: $DOCKERHUB_MAINNET_BASE:latest

stages:
  - benchmarking
  - checks
  - build
  - publish

.prepare_rust:
  image: rust:1.84.1
  before_script:
    - apt update && apt install --assume-yes git clang curl libssl-dev llvm libudev-dev make protobuf-compiler

format-check:
  stage: checks
  extends: .prepare_rust
  script:
    - cargo fmt --check

test:
  stage: checks
  extends: .prepare_rust
  script:
    - cargo test

build-mainnet:
  stage: build
  when: manual
  variables:
    LOCAL_ACURAST: "acurast-$CI_PIPELINE_ID"
  script:
    - docker build -t $MAINNET_TAG --build-arg chain="mainnet" .
    - docker create --name $LOCAL_ACURAST $MAINNET_TAG
    - docker cp $LOCAL_ACURAST:/runtimes/acurast_mainnet_runtime.compact.compressed.wasm acurast_mainnet_runtime-$CI_PIPELINE_ID.compact.compressed.wasm
    - docker rm $LOCAL_ACURAST
  artifacts:
    paths:
      - acurast_mainnet_runtime-$CI_PIPELINE_ID.compact.compressed.wasm

build-canary:
  stage: build
  variables:
    LOCAL_ACURAST: "acurast-$CI_PIPELINE_ID"
  script:
    - docker build -t $KUSAMA_TAG --build-arg chain="kusama" .
    - docker create --name $LOCAL_ACURAST $KUSAMA_TAG
    - docker cp $LOCAL_ACURAST:/runtimes/acurast_kusama_runtime.compact.compressed.wasm acurast_kusama_runtime-$CI_PIPELINE_ID.compact.compressed.wasm
    - docker rm $LOCAL_ACURAST
  artifacts:
    paths:
      - acurast_kusama_runtime-$CI_PIPELINE_ID.compact.compressed.wasm

build-dev:
  stage: build
  when: manual
  variables:
    LOCAL_ACURAST: "acurast-$CI_PIPELINE_ID"
  script:
    - docker build -t $GOOGLE_TAG .
    - docker create --name $LOCAL_ACURAST $GOOGLE_TAG
    - docker cp $LOCAL_ACURAST:/runtimes/acurast_rococo_runtime.compact.compressed.wasm acurast_rococo_runtime-$CI_PIPELINE_ID.compact.compressed.wasm
    - docker rm $LOCAL_ACURAST
  artifacts:
    paths:
      - acurast_rococo_runtime-$CI_PIPELINE_ID.compact.compressed.wasm

publish-dev:
  stage: publish
  extends: .before_script_dev
  when: manual
  needs:
    - build-dev
  script:
    - docker tag $GOOGLE_TAG $GOOGLE_TAG_DEV
    - docker tag $GOOGLE_TAG $GOOGLE_TAG_LATEST_DEV
    - docker push $GOOGLE_TAG_DEV
    - docker push $GOOGLE_TAG_LATEST_DEV

publish-canary:
  stage: publish
  extends: .before_script_prod
  when: manual
  needs:
    - build-canary
  script:
    - docker tag $KUSAMA_TAG $KUSAMA_TAG_DEV
    - docker tag $KUSAMA_TAG $KUSAMA_TAG_LATEST_DEV
    - docker push $KUSAMA_TAG_DEV
    - docker push $KUSAMA_TAG_LATEST_DEV

    - docker tag $KUSAMA_TAG $KUSAMA_TAG_LATEST
    - docker push $KUSAMA_TAG
    - docker push $KUSAMA_TAG_LATEST

publish-mainnet:
  stage: publish
  extends: .before_script_prod
  when: manual
  needs:
    - build-mainnet
  script:
    - docker tag $MAINNET_TAG $MAINNET_TAG_DEV
    - docker tag $MAINNET_TAG $MAINNET_TAG_LATEST_DEV
    - docker push $MAINNET_TAG_DEV
    - docker push $MAINNET_TAG_LATEST_DEV

    - docker tag $MAINNET_TAG $MAINNET_TAG_LATEST
    - docker push $MAINNET_TAG
    - docker push $MAINNET_TAG_LATEST

publish-dockerhub-canary:
  stage: publish
  variables:
    IMAGE_TAG: $DOCKERHUB_CANARY_BASE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  before_script:
    - echo $DOCKERHUB_PASSWORD | docker login -u "$DOCKERHUB_USER" --password-stdin
  script:
    # only kusama tag publishing
    - docker tag $KUSAMA_TAG $IMAGE_TAG
    - docker tag $KUSAMA_TAG $DOCKERHUB_CANARY_TAG
    - docker tag $KUSAMA_TAG $DOCKERHUB_CANARY_TAG_LATEST
    - docker push $IMAGE_TAG
    - docker push $DOCKERHUB_CANARY_TAG
    - docker push $DOCKERHUB_CANARY_TAG_LATEST

publish-dockerhub-mainnet:
  stage: publish
  when: manual
  variables:
    IMAGE_TAG: $DOCKERHUB_MAINNET_BASE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  before_script:
    - echo $DOCKERHUB_PASSWORD | docker login -u "$DOCKERHUB_USER" --password-stdin
  script:
    - docker tag $MAINNET_TAG $IMAGE_TAG
    - docker tag $MAINNET_TAG $DOCKERHUB_MAINNET_TAG
    - docker tag $MAINNET_TAG $DOCKERHUB_MAINNET_TAG_LATEST
    - docker push $IMAGE_TAG
    - docker push $DOCKERHUB_MAINNET_TAG
    - docker push $DOCKERHUB_MAINNET_TAG_LATEST

.prepare-mainnet-benchmarking:
  script:
    - mkdir -p $MAINNET/
    - docker build -t $CI_COMMIT_SHA-$MAINNET-benchmarks --build-arg benchmarks="$MAINNET" .
    - docker create --name $MAINNET $CI_COMMIT_SHA-$MAINNET-benchmarks
    - docker cp "$MAINNET:/usr/local/bin/acurast-node" $MAINNET/
    - docker rm $MAINNET

.prepare-canary-benchmarking:
  script:
    - mkdir -p $KUSAMA/
    - docker build -t $CI_COMMIT_SHA-$KUSAMA-benchmarks --build-arg benchmarks="$KUSAMA" .
    - docker create --name $KUSAMA $CI_COMMIT_SHA-$KUSAMA-benchmarks
    - docker cp "$KUSAMA:/usr/local/bin/acurast-node" $KUSAMA/
    - docker rm $KUSAMA

.prepare-dev-benchmarking:
  script:
    - mkdir -p $ROCOCO/
    - docker build -t $CI_COMMIT_SHA-$ROCOCO-benchmarks --build-arg benchmarks="dev" .
    - docker create --name $ROCOCO $CI_COMMIT_SHA-$ROCOCO-benchmarks
    - docker cp "$ROCOCO:/usr/local/bin/acurast-node" $ROCOCO/
    - docker rm $ROCOCO

run-mainnet-benchmarks:
  extends: .before_script_dev
  stage: benchmarking
  when: manual
  variables:
    VM_ZONE: "us-central1-a"
  timeout: 3h
  script:
    - !reference [.prepare-mainnet-benchmarking, script]
    # create vm
    - gcloud compute instances create acurast-benchmark --image=ubuntu-minimal-2210-kinetic-amd64-v20230328 --machine-type=c2d-highcpu-8 --preemptible --zone=$VM_ZONE --image-project=ubuntu-os-cloud
    #  copy over binary
    - gcloud compute scp --zone=$VM_ZONE $MAINNET/acurast-node acurast-benchmark:/acurast-node
    # run benchmarks
    - gcloud compute ssh acurast-benchmark --zone=$VM_ZONE --command="mkdir -p /benchmarks; /acurast-node benchmark pallet --chain=acurast-mainnet --execution=wasm --wasm-execution=compiled --pallet "*" --extrinsic "*" --steps=50 --repeat=20 --output=/benchmarks/"
    # copy over benchmarks
    - gcloud compute scp --zone=$VM_ZONE --recurse acurast-benchmark:/benchmarks $MAINNET/

  after_script:
    # delete vm
    - gcloud compute instances delete acurast-benchmark --zone=$VM_ZONE --quiet
  artifacts:
    paths:
      - $MAINNET
    expire_in: "30 days"

run-canary-benchmarks:
  extends: .before_script_dev
  stage: benchmarking
  when: manual
  variables:
    VM_ZONE: "us-central1-a"
  timeout: 3h
  script:
    - !reference [.prepare-canary-benchmarking, script]
    # create vm
    - gcloud compute instances create acurast-benchmark --image=ubuntu-minimal-2210-kinetic-amd64-v20230328 --machine-type=c2d-highcpu-8 --preemptible --zone=$VM_ZONE --image-project=ubuntu-os-cloud
    #  copy over binary
    - gcloud compute scp --zone=$VM_ZONE $KUSAMA/acurast-node acurast-benchmark:/acurast-node
    # run benchmarks
    - gcloud compute ssh acurast-benchmark --zone=$VM_ZONE --command="mkdir -p /benchmarks; /acurast-node benchmark pallet --chain=acurast-kusama --execution=wasm --wasm-execution=compiled --pallet "*" --extrinsic "*" --steps=50 --repeat=20 --output=/benchmarks/"
    # copy over benchmarks
    - gcloud compute scp --zone=$VM_ZONE --recurse acurast-benchmark:/benchmarks $KUSAMA/

  after_script:
    # delete vm
    - gcloud compute instances delete acurast-benchmark --zone=$VM_ZONE --quiet
  artifacts:
    paths:
      - $KUSAMA
    expire_in: "30 days"

run-dev-benchmarks:
  extends: .before_script_dev
  stage: benchmarking
  when: manual
  variables:
    VM_ZONE: "us-central1-a"
  timeout: 3h
  script:
    - !reference [.prepare-dev-benchmarking, script]
    # create vm
    - gcloud compute instances create acurast-benchmark --image=ubuntu-minimal-2210-kinetic-amd64-v20230328 --machine-type=c2d-highcpu-8 --preemptible --zone=$VM_ZONE --image-project=ubuntu-os-cloud
    #  copy over binary
    - gcloud compute scp --zone=$VM_ZONE $ROCOCO/acurast-node acurast-benchmark:/acurast-node
    # run benchmarks
    - gcloud compute ssh acurast-benchmark --zone=$VM_ZONE --command="mkdir -p /benchmarks; /acurast-node benchmark pallet --chain=acurast-kusama --execution=wasm --wasm-execution=compiled --pallet "*" --extrinsic "*" --steps=50 --repeat=20 --output=/benchmarks/"
    # copy over benchmarks
    - gcloud compute scp --zone=$VM_ZONE --recurse acurast-benchmark:/benchmarks $ROCOCO/

  after_script:
    # delete vm
    - gcloud compute instances delete acurast-benchmark --zone=$VM_ZONE --quiet
  artifacts:
    paths:
      - $ROCOCO
    expire_in: "30 days"
